.z-bg-umn {
  background-image: linear-gradient(135deg, #0f3d1a, #083013);
  background-size: cover;
  background-position: center;
  position: relative;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
  }
}
